<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540292576821-ad6kg8f73hu9v8apqvl5tv9evo7ceqsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540292576821-ad6kg8f73hu9v8apqvl5tv9evo7ceqsn</string>
	<key>API_KEY</key>
	<string>AIzaSyCnr_bs_Si2dqZdt4rtyBFbuu8JusN4vzY</string>
	<key>GCM_SENDER_ID</key>
	<string>540292576821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.koersalarm.app</string>
	<key>PROJECT_ID</key>
	<string>koersalarm</string>
	<key>STORAGE_BUCKET</key>
	<string>koersalarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540292576821:ios:ad3cd446e81dde87</string>
	<key>DATABASE_URL</key>
	<string>https://koersalarm.firebaseio.com</string>
</dict>
</plist>